#!/bin/bash

docker run -d --name gitlab_prod --restart unless-stopped -p "[::1]:8071:80" -p "[::1]:8073:22" -p "[::1]:8072:443" -v "/data/docker/gitlab_prod/config:/etc/gitlab" -v "/data/docker/gitlab_prod/logs:/var/log/gitlab" -v "/data/docker/gitlab_prod/data:/var/opt/gitlab" --shm-size 256m --hostname "gitlab.forberger-online.de" -e "GITLAB_HOST=https://gitlab.forberger-online.de" -e "EXTERNAL_URL=https://gitlab.forberger-online.de" -e "GITLAB_CDN_HOST=https://gitlab.forberger-online.de" gitlab/gitlab-ce:latest
